<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body onload="mostrarCarrito()">
  <%- include ('parcials/navbar')%>
    <section class="h-100 gradient-form" style="background-color: rgb(255, 255, 255);">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black" style="background-color: rgb(6, 6, 6);">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="https://www.pngplay.com/wp-content/uploads/13/Versace-Logo-Free-PNG.png"
                        style="width: 185px;" alt="modelos">
                      <h6 style="color: white;">Datos de envío</h6><br>
                    </div>
                    <%- include ('parcials/carrito')%>
                      <form action="finalizarcompra" method="post">
                        <div class="form-outline mb-4">
                          <div class="form-outline mb-4 col-md-6 d-flex justify-content-between w-100">
                            <input type="text" id="nombrecompra" class="form-control me-1" placeholder="Nombre"
                              name="nomcompra" required /> <br>
                            <input type="text" id="apellidocompra" class="form-control ms-1" placeholder="Apellido"
                              name="apecompra" required /> <br>
                          </div>
                          <input type="text" id="telefonocompra" class="form-control" placeholder="Telefono/Celular"
                            name="telcompra" required> <br>
                          <input type="text" id="direccioncompra" class="form-control" placeholder="Direccion"
                          name="direccompra" required> <br>
                          <input type="text" id="datosresidencia" class="form-control" placeholder="Datos de residencia"
                          name="datresidencia"><br>
                          <input type="email" id="emailcompra" class="form-control" placeholder="Correo electronico"
                          name="correocompra" required><br>
                        </div>
                        <input type="hidden" id="carritocompra" name="carritocompra" readonly>

                        
                        <button class="btn btn-warning" type="submit"> Pagar </button>
                      </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background-color: white;">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4" id="contenidoCarrito">
                    
                  </div>

                </div>
                
              </div>
              
            </div>
            
          </div>
          
        </div>

      </div>

    </section>
    <script>
      function limpiarCarrito() {
        localStorage.removeItem("carritocookie");
      }

      document.getElementById("carritocompra").value = localStorage.getItem("carritocookie"); // Llenamos el input con la información del carrito
      console.log(localStorage.getItem("carritocookie"))
      // Función para mostrar el contenido del carrito en el formulario
      function mostrarCarrito() {
        //Donde se mostrará el contenido del carrito
        const divCarrito = document.getElementById('contenidoCarrito');

        // Obtener el contenido del carrito almacenado en localStorage
        const carrito = JSON.parse(localStorage.getItem('carritocookie')) || [];
        console.log('este es '+carrito)
        // Limpiar el contenido previo del div
        divCarrito.innerHTML = '';

        // Recorrer los productos del carrito y mostrarlos en el formulario
        carrito.forEach((producto) => {
          const divProducto = document.createElement('div');
          divProducto.innerHTML = `
          <div class="form-outline mb-4 col-md-6 d-flex justify-content-between w-100">
          <div class="w-25">
          <img src="https://karibik.vtexassets.com/arquivos/ids/206081-300-300?v=1772756345&width=300&height=300&aspect=true" class="w-100 rounded">
          
          </div>
        <div class="d-flex flex-column justify-content-center align-items-center w-75">
          <h4 style="color: black;">${producto.nombre}</h4>
          <p style="color: black;>$${producto.precio}</p>
          <p style="color: black;>$${producto.precio * producto.cantidad}</p>
          <div class="d-flex align-items-center ms-4 me-4"> 
          <p style="color:black;font-weight: bold">Cantidad:</p><br>
          <input class="form-control form-control-xs ms-2 me-2 text-center" value="${producto.cantidad}" readonly>


        </div>

      </div>
      
    </div>
      `;
          divCarrito.appendChild(divProducto);
        });
        let total = 0;
        carrito.forEach((producto) => {
        total += parseFloat(producto.precio * producto.cantidad)
        })
        totalPrecio.innerHTML = `<p class="m-0">Total a pagar: $${total.toFixed(2)}</p>
        `
      }

      function sumar(id){
      carrito.find(producto =>{
        if(producto.id == id){
          producto.cantidad++
        }
      })
      guardarCookies();
      crearCarrito()
    }
    function restar(id){
      carrito.find(producto =>{
        if(producto.id == id){
          producto.cantidad--
          if(producto.cantidad == 0){
            borrarProducto(id);
          }
        }
      })
      guardarCookies();
      crearCarrito();
    }




      function llenar(id, ref, nombre, descripcion, precio, stock, estado) {
        idact.value = id;
        refact.value = ref;
        nomact.value = nombre;
        descact.value = descripcion;
        precioact.value = precio;
        stockact.value = stock;
        estadoact.value = estado;
      }
    </script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>

</body>

</html>